.shipping-info{
  font-size: 16px;
  min-width: 325px;
}

.shipping-form{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  border-radius: 10px;
  margin: 0 auto;
}


.shipping-div{
  text-align: left;
  margin-top: 2rem;
}

.shipping-div .round-pill{
  margin: 1rem 0 1rem 0.5rem;
}
