.cart-summary-flexbox{
  display: block;
}

.cart-grid{
  display: grid;
  grid-template-columns: 50% 50%;
}

.cart-items{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

.cart-item-product{
  padding: 1rem;
}

.cart-item-product .cart-image img{
  max-width: 255px;
}

.cart-product-info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-table-item{
  font-size: 16px;
}

.cart-table-item select{
  padding: 0.25rem;
  font-size: 16px;
  text-align: center;
}

.quantity-box{
  display: flex;
}

.quantity-box p{
  margin: 0.5rem;
}

.error-message-field-text{
  margin-top: 0.25rem;
  color: red;
}

.requirements{
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  display: contents;
}

.requirements input{
  margin: 5px 0 10px;
  padding: 0.75rem;
  border: none;
  border-radius: 10px;
  width: 50%;
}

.item-name{
  font-size: 24px;
}

.requirements .label{
  display: inline-block;
  color: var(--logo-blue);
  font-size: 15px;
}

@media screen and (max-width: 768px){
  .cart-summary-flexbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  #card-grid-phone{
    grid-template-columns: 100%;
  }
}

h4{
  color: var(--logo-orange);
  font-weight: 700;
  font-size: 2rem;
}