/* .confirm-view{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} */

.fa-check-circle{
  font-size: 5rem;
  color: white;
  background-color: red;
  margin: 1rem;
  border: 1px dotted;
  border-radius: 50%;
}

#track{
  padding: 1rem 3rem;
  background: #000;
  border-radius: 8px;
  border: none;
  font-size: 1.5rem;
}

.send-info-div button{
  white-space: break-spaces
}

.reminder{
  display: inline;
}

.hidden{
  display: none;
}

.final-reminder button{
  animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-8deg);
  }
  20% {
    transform: rotateZ(6deg);
  }
  25% {
    transform: rotateZ(-6deg);
  }
  30% {
    transform: rotateZ(4deg);
  }
  35% {
    transform: rotateZ(-2deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.send-info-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.confirm-main-div{
  flex-direction: column;
}

#product-image{
  color: var(--logo-blue);
  white-space: break-spaces;
}

.product-image-div #myFile{
  margin: 2rem auto;
}