.hidden {
  display: none;
}

/* buying transition */
.scrolling-words-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.scrolling-words-box {
  height: 4rem;
  overflow: hidden;
}
.scrolling-words-box ul {
  margin: 0 0.625rem;
  padding: 0;
  animation: scrollUp 4s infinite;
}
.scrolling-words-box ul li {
  color: var(--logo-orange);
  height: 4rem;
  list-style: none;
}
@keyframes scrollUp {
  15%,
  25% {
    transform: translateY(-20%);
  }
  40%,
  50% {
    transform: translateY(-40%);
  }
  65%,
  75% {
    transform: translateY(-60%);
  }
  90%,
  100% {
    transform: translateY(-80%);
  }
}

/* loading */
#svg-spinner {
  color: blue;
  transition-duration: 1.2s;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.2s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate;
  -moz-animation-duration: 1.2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

circle {
  color: violet;
}
