.card-input-grid{
  display: flex;
  justify-content:  space-evenly;
  flex-wrap: wrap;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  margin: 0.75rem;
  padding: 1.25rem 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(255, 255, 255, 25%);
  transition: all .35s ease-in;
  max-width: 400px;
  min-width: 250px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(14px);
}

.card h3, .card h4{
  color: #0D1321;
}

.card .card-image img,
.card-details-pic img{
  width: 100%;
  object-fit: cover;
  height: 350px;
}

.card:hover{
  box-shadow: 0 0 10px rgb(255, 255, 255, 1);
}

.card-details{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  color: white;
  background: var(--white);
  z-index: 2000;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  padding: 0.5rem;
  overflow-y: auto;
  justify-content: space-evenly;
}

.card-details .desc,
.card-details h3{
  color: var(--logo--blue);
  font-size: 16px;
  margin: 2rem;
  white-space: pre-line;
  text-align: left;
}

.card-details h3{
  margin: 0.25rem;
  padding: 0;
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: var(--logo--blue);
}

.orange-price{
  color: var(--logo-orange);
}

.error-message-field{
  color: red;
}

.card-details-pic{
  display: flex;
  flex-direction: column;
}

.card-details-pic img{
  min-width: 250px;
  max-width: 350px;
  height:fit-content;
  margin: 1rem auto;
}

.card-details .card-modal{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-details-text{
  margin-bottom: 50px;
}

.card-details-pic .slide-ctrl-container{
  margin: 0 auto;
  min-width: 250px;
  max-width: 350px;
}

.card-details-pic .slide-ctrl-container button{
  color: var(--logo-orange);
}