.categories{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto;
}

.categories .filterTag{
  border: none;
  padding: 1rem;
  width: 125px;
}

.categories .activeTag{
  background-color: #000;
  border-color: #000;
}

.search-bar input{
  background: #FFFFFF;
  width: 420px;
  color: #566373;
  font-family: Open Sans, Lucida Grande, Lucida Sans Unicode, Veranda, Arial, sans-serif;
  font-weight: 400;
  border-radius: 10px;
  padding: 0 12px;
  font-size: 16px;
  height: 45px;
  line-height: 45px;
  transition: all .15s ease-in-out;
  border: 1px solid rgba(108, 124, 144, 0.47);
  outline: none;
}
